<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <div class="container-fluid">
    <a (click)='pushToMainPage()' style="cursor:pointer" class="navbar-brand">
      <img
        src="../../../../assets/img/logo-1.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle"
        style="opacity: .8"
      />
      <span class="brand-text font-weight-light">DMR System</span>
    </a>

    <button
      class="navbar-toggler order-1"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <ul class="navbar-nav" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" [routerLink]="[ '/ec/plan']">Planning</a> -->
            <a class="dropdown-item" [routerLink]="[ '/ec/ingredient']">Ingrident List </a>
            <a class="dropdown-item" [routerLink]="[ '/ec/maintenace-data']">Maintenance Data</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/modal-name']">Shoes List</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/supplier']">Supplier List</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/partname-1']">Part 1 List</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/partname-2']">Part 2 List</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/material-name']">Material List</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="[ '/ec/guidance']">Guidance</a>
            <a class="dropdown-item" [routerLink]="[ '/ec/line']">Guidance V2</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <!-- <li class="nav-item" *ngFor="let item of navEc">
          <a [routerLink]="item.path" routerLinkActive="bg-info rounded-pill" class="nav-link">{{item.title}}</a>
        </li> -->
      </ul>
      <!-- Left navbar links -->
      <!-- <ul class="navbar-nav" *ngIf="role === 2">
        <li class="nav-item" *ngFor="let item of navClient">
          <a [routerLink]="item.path" routerLinkActive="bg-info rounded-pill" class="nav-link">{{item.title}}</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="role === 1">
        <li class="nav-item" *ngFor="let item of navAdmin">
          <a [routerLink]="item.path" routerLinkActive="bg-info rounded-pill" class="nav-link">{{item.title}}</a>
        </li>
      </ul> -->
    </div>

    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li class="nav-item user-menu" (click)='openAvatarModal()'>
        <a class="nav-link">
          <i class="fa fa-sign-out"></i>
          <img [src]="avatar" class="user-image img-circle elevation-2" [alt]="currentUser" />
          <span class="font-weight-bold text-danger">{{ currentUser | titlecase  }}</span>
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-sign-out"></i>
            <span class="font-weight-bold text-info">{{currentTime}}</span>
          </a>
        </li>
      <!-- Messages Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-danger navbar-badge" *ngIf="total > 0">{{total}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right fix-width" 
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()"
        [scrollWindow]="false"
        >
          <ng-container *ngFor="let item of data">
          <a (click)='seen(item)' class="dropdown-item">
            <div class="media">
              <img
                [src]="imageBase64(item.ImageBase64)"
                alt="User Avatar"
                class="img-size-50 mr-3 img-circle"
              />
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  {{ (item.Sender|| "System") | titlecase  }}
                  <small class="float-right right badge badge-danger" *ngIf="!item.Seen">New</small>
                </h3>
                <p class="text-sm">{{item.Message}}</p>
                <p class="text-sm text-muted">
                  <i class="far fa-clock mr-1"></i> {{datetime(item.CreatedTime)}}
                </p>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
        </ng-container>
          <a href="#" class="dropdown-item dropdown-footer"
            >See All Notifications</a
          >
        </div>
      </li> -->
      <!-- Notifications Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer"
            >See All Notifications</a
          >
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" (click)="logout()"
          ><i class="fas fa-sign-out-alt"></i> Sign-out
        </a>
      </li>
    </ul>
  </div>
</nav>
