<div class="card">
  <div class="card-header">
    <h3 class="title">
      Ingredient List
    </h3>
  </div>
  <div class="card-body">
    <div class="btn-group pb-3">
      <button type="button" (click)="openIngredientModalComponent()" class="btn btn-success">Add</button>
    </div> 
    <div class="btn-group pb-1">
      <span style="color: transparent">|</span>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="printBarcode()" *ngIf="!show" class="btn btn-success">Print Barcode</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="backList()" *ngIf="show" class="btn btn-success">Back List</button>
    </div>
    <table class="table table-hover" *ngIf="show">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Barcode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i= index">
          <td>{{item.name}}</td>
          <td>
            <ejs-barcodegenerator style="display: block;" #barcode id="barcode" width="300px" height="100px" mode="SVG"
          type="Code32" [value]="item.code"></ejs-barcodegenerator> 
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover" *ngIf="!show">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Barcode</th>
          <th>Name</th>
          <th>Create Date</th>
          <th style="text-align: center">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i= index">
          <td scope="row">{{ (pagination.currentPage - 1) * pagination.itemsPerPage + i + 1 }}</td>
          <td style="text-align: center">
            <ejs-barcodegenerator style="display: block;" #barcode id="barcode" width="300px" height="100px" mode="SVG"
          type="Code32" [value]="item.code"></ejs-barcodegenerator> 
          </td>
          <td>{{item.name}}</td>
          <td>{{item.createdDate}}</td>
          <td style="text-align: center">
            <div class="btn-group">
              <button type="button" (click)='openIngredientEditModalComponent(item)' class="btn btn-primary">Edit</button>
            </div>
            <div class="btn-group">
              <span style="color: transparent">|</span>
            </div>
            <div class="btn-group">
              <button type="button" (click)='delete(item)' class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="totalItems"  [directionLinks]='true' [(page)]="currentPage" [pageSize]='itemsPerPage' [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>

