<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 comments-section">
        <!--====COMMENT AREA START====-->
        <div class="row">
          <div class="col-12">
            <!-- <h2>Comments</h2> -->
            <div class="comment-form">
              <textarea class="comment-area" [(ngModel)]="content" placeholder="Write your comment here"></textarea>
              <a (click)="addComment()" class="btn comment-btn">Post</a>
            </div>
          </div>
        </div>

        <!-- =======COMMENTS START=======-->
        <div class="row">
          <div class="col-12">
            <ng-container *ngFor="let item of dataComment; let i = index">
              <div class="comment-box-wrapper">
                <div class="comment-box-wrapper">
                    <app-tree [treeData]="item" *ngIf="i < totalShow;" [taskID]="taskID"></app-tree>
                </div>
              </div>
            </ng-container>
            <small style="cursor: pointer;" (click)="increseTotalShow()"
            *ngIf="totalShow < dataComment?.length" class="text-center text-primary d-block">
            Load more 
            <i class="fas fa-chevron-down text-small"></i>
          </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>