<div class="row" >
        <!-- <div class="col-md-12 my-3">
            <button (click)="save()" class="btn bg-gradient-secondary btn-sm">
                <i class="fas fa-save"></i> Save
            </button>
        </div> -->
        <div class="col-md-12 card-body table-responsive">
    
            <div class="row form-group">
    
                <div class="col-2">
                    <label for="">Part Name 2</label>
                    <input [(ngModel)]="modalPart.name" name="name" type="text"  class="form-control Name" />
                </div>
                <div class="col-md-12 my-3">
                    <button (click)="save()"  class="btn bg-gradient-secondary btn-sm">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
    
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Part 2 List</h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
    
                <ejs-grid #grid [searchSettings]="searchSettings" (actionBegin)="actionBegin($event)"   [toolbar]='toolbarOptions' [dataSource]='partname2' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings'>
                    <e-columns>
                        <e-column field='id' headerText='#' width='70' textAlign='Center' isPrimaryKey='true' >
                            <ng-template #template let-data>
                                {{data.index}}
                            </ng-template>
                        </e-column>
                        <e-column field='name' headerText='Part Name' width='200' textAlign='Center' >
                        </e-column>
                        <e-column isPrimaryKey='true' headerText='Manage Records' textAlign='Center' width='200'   >
                            <ng-template #template let-data>
                                <button (click)="delete(data.id)" ejs-button iconCss='e-icons e-delete' cssClass= 'e-flat'></button>
                            </ng-template>
                        </e-column>
                    </e-columns>
                </ejs-grid>
                
            </div>
        </div>
    
       
    </div>
    
    
    