<div class="row">
  <div class="col-md-12 pb-4">
    <button
      type="button"
      class="btn bg-gradient-secondary btn-sm"
      (click)="open(content)"
    >
      <i class="fas fa-plus"></i>Add Project
    </button>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">List Project</h5>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input
              type="text"
              name="table_search"
              class="form-control float-right"
              (keyup.enter)='search()'
              [(ngModel)]="text"
              placeholder="Search"
            />

            <div class="input-group-append">
              <button (click)="refresh()" class="btn btn-default">
                <i class="fas fa-sync"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <!-- <ngx-spinner
          bdOpacity="0.2"
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#20A8D8"
          type="pacman"
        >
        </ngx-spinner> -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center" width="20">#</th>
              <th class="text-center">Project Name</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">ON/OFF</th>
              <th class="text-center">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of projects; let i = index">
              <td class="text-center">
                {{
                  (pagination.currentPage - 1) * pagination.itemsPerPage + i + 1
                }}
              </td>
              <td class="text-center">{{ item.Name }}</td>
              <td class="text-center">
                {{ item.CreatedByName }}
              </td>
              <td class="text-center">{{ item.CreatedDate }}</td>
              <td class="text-center">
                <ng-container *ngIf="item.CreatedBy === createdBy">
                  <ejs-switch onLabel="ON" offLabel="OFF" (change)='onOff(item.ID)' [checked]="item.Status"></ejs-switch>
                </ng-container>
                <ng-container *ngIf="item.CreatedBy !== createdBy">
                  <ejs-switch onLabel="ON" offLabel="OFF" [disabled]='true' (change)='onOff(item.ID)' [checked]="item.Status"></ejs-switch>
                </ng-container>
                <!-- <div
                  class="pretty p-switch"
                  *ngIf="item.CreatedBy == createdBy; else elseStatus"
                >
                  <input
                    type="checkbox"
                    [checked]="item.CreatedBy == createdBy"
                    (click)="onOff(item.ID)"
                    name="switch1"
                  />
                  <div class="state p-success">
                    <label class="dot font-weight-normal">{{item.Status?"ON":"OFF"}}</label>
                  </div>
                </div>
                <ng-template #elseStatus>
                  <label class="dot font-weight-normal">{{item.Status?"ON":"OFF"}}</label>
                </ng-template> -->
              </td>
              <td class="py-0 align-middle text-center">
                <div class="btn-group btn-group-sm">
                  <a
                    *ngIf="item.CreatedBy === createdBy"
                    style="cursor: pointer;"
                    class="btn btn-primary"
                    (click)="edit(content, item)"
                  >
                    <i style="color:white" class="fas fa-edit"></i>
                  </a>
                  <a *ngIf="item.CreatedBy === createdBy" class="btn btn-danger" (click)="delete(item)">
                    <i style="color:white" class="fas fa-trash"></i>
                  </a>
                  <a
                  *ngIf="item.Status?(item.CreatedBy === createdBy || item.Manager.includes(createdBy) || item.Members.includes(createdBy)):false"
                    style="cursor: pointer;"
                    [routerLink]="['/project/detail/', item.ID]"
                    class="btn btn-info"
                  >
                    <i style="color:white" class="fas fa-info-circle"></i>
                  </a>
                  <a *ngIf="item.CreatedBy === createdBy" style="cursor: pointer;" class="btn btn-warning" (click)="clone(item)">
                    <i style="color:white" class="fas fa-clone"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="pagination.totalItems"  [directionLinks]='true' [(page)]="pagination.currentPage" [pageSize]='pagination.itemsPerPage' [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 d-none">
        <div class="form-group">
          <label for="ID">ID</label>
          <input type="text" id="ID" [(ngModel)]="id" class="form-control ID" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Name</label>
          <input
            [(ngModel)]="name"
            type="text"
            id="Name"
            class="form-control Name"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Close
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="save()">
      Save
    </button>
  </div>
</ng-template>
