<div class="row">

  <div class="col-md-5">
    <div class="card">
      <div class="col-md-12 card-body table-responsive">
        <div class="row">

          <div class="col-md-2">
            <button (click)="openaddModalName(addModalName)" class="btn bg-gradient-secondary btn-sm">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-md-10">
            <ejs-dropdownlist 
              id='glueDropdownlist' 
              #glueDropdownlist 
              [dataSource]='modelName'
              [fields]='fieldsGlue' 
              [allowFiltering]='true'
              (change)='onChangeModelName($event)'
              [placeholder]='textGlue'>
            </ejs-dropdownlist>
          </div>
        </div>
          
      </div>
    </div>

    <div class="card">
      <div *ngIf="existGlue" class="col-md-12 card-body table-responsive">

        <div class="row form-group">

          <div class="col-2">
            <label for="">Chemical</label>
            <ejs-dropdownlist 
              id='ddlelement' #ddlelement 
              [dataSource]='ingrediented' 
              [fields]='fieldsChemical' 
              [allowFiltering]='true'
              popupHeight='200px' popupWidth='250px'
              (change)='onChangeChemical($event)'
              [placeholder]='textGluePartname1'
              >
            </ejs-dropdownlist>
          </div>

          <div class="col-2">
            <label for="">Part 1</label>
            <ejs-dropdownlist 
              id='ddlelement2' #ddlelement2
              [dataSource]='partName' 
              [fields]='fieldsGlue' 
              popupHeight='200px' popupWidth='250px'
              [allowFiltering]='true'
              (change)='onChangepartName1($event)'
              [placeholder]='textGluePartname1'
              >
            </ejs-dropdownlist>
          </div>

          <div class="col-2">
            <label for="">Part 2</label>
            <ejs-dropdownlist 
              id='ddlelement3' #ddlelement3
              [dataSource]='partName2' 
              [fields]='fieldsGlue' 
              popupHeight='200px' popupWidth='250px'
              [allowFiltering]='true'
              (change)='onChangepartName2($event)'
              [placeholder]='textGluePartname2'
              >
            </ejs-dropdownlist>
          </div>

          <div class="col-2">
            <label for="">Material</label>
            <ejs-dropdownlist 
              id='ddlelement4' #ddlelement4
              [dataSource]='MaterialName' 
              [fields]='fieldsGlue' 
              popupHeight='200px' popupWidth='250px'
              [allowFiltering]='true'
              (change)='onChangeMaterialName($event)'
              [placeholder]='textGlueMaterial'
              >
            </ejs-dropdownlist>
          </div>

          <div class="col-2">
             <label for="">Consumption</label>
              <input [(ngModel)]="glue.consumption" name="name" type="text" style="height: 31px" class="form-control inputfield" />
          </div>

          <div class="col-2">
            <label style="color: transparent" for="">Material</label>
            <button (click)="save2()" class="btn btn-success btn-sm">
              <i class="fas fa-save"></i>&nbsp;
            </button>
          </div>
        </div>
        <ejs-barcodegenerator *ngIf="showBarCode" style="display: block;" #barcode id="barcode" width="300px" height="100px" mode="SVG"
        type="Code32" [value]="glue.code"></ejs-barcodegenerator> 
      </div>

      <div class="card-body table-responsive">  
        <div class="control-section" *ngIf="existGlue">
          <ejs-grid #gridglue [dataSource]='glues' [selectionSettings]='selectionOptions' (created)="created($event)" [selectedRowIndex]="rowIndex" height='600px' (actionBegin) = "actionBegin($event)" (toolbarClick)='clickHandler($event)' (rowSelected)="rowSelected($event)"  [editSettings]='editSettings' [toolbar]='toolbar' >
            <e-columns>
              <e-column field='name' headerText='Glue' textAlign='Center' width='150'></e-column>
              <e-column field='modelNo' headerText='Part 1' textAlign='Center' width='150'>
                  <ng-template #editTemplate let-data>
                    <ejs-dropdownlist 
                      id='glueDropdownlist'  
                      #glueDropdownlist 
                      [dataSource]='partName' 
                      [(ngModel)]="data.modelNo"
                      [fields]='fieldsGlueEdit' 
                      [allowFiltering]='true'
                      (change)='onChangepartNameEdit1($event)'
                      >
                    </ejs-dropdownlist>
                  </ng-template>
              </e-column>
              <e-column field='pathName' headerText='Part 2' textAlign='Center' width='150'>
                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist 
                    id='glueDropdownlist'  
                    #glueDropdownlist 
                    [dataSource]='partName2' 
                    [(ngModel)]="data.pathName"
                    popupHeight='200px' popupWidth='250px'
                    [fields]='fieldsGlueEdit' 
                    [allowFiltering]='true'
                    (change)='onChangepartNameEdit($event)'
                    >
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field='materialName' headerText='Material' textAlign='Center' width='150'>
                  <ng-template #editTemplate let-data>
                    <ejs-dropdownlist 
                      id='glueDropdownlist'  
                      #glueDropdownlist 
                      [dataSource]='MaterialName' 
                      [(ngModel)]="data.materialName"
                      popupHeight='200px' popupWidth='250px'
                      [fields]='fieldsGlueEdit' 
                      [allowFiltering]='true'
                      (change)='onChangeMaterialNameEdit($event)'
                      >
                    </ejs-dropdownlist>
                  </ng-template>
              </e-column>
              <e-column field='consumption'  headerText='Consumption' textAlign='Center' width='150'></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h3 class="title">Preview </h3>
      </div>
      <div class="card-body" *ngIf="detailGlue">
          <ul>
            <li style="list-style-type:square">
                <!-- exist B,C,D,E -->
                <ng-container *ngIf=" B && C && D && E; else elseTemplate">
                  {{'{' + '[' + '( ' + nameGlue + ' + ' + B + ' )' + ' + ' + C + ' ]' + ' + ' + D + '}' + ' + ' + E}}
                </ng-container>
                <!-- end exist B,C,D,E -->
                <ng-template #elseTemplate>
                    <!-- exist B,C,D -->
                    <ng-container *ngIf=" B && C && D; else elseTemplate">
                      {{'[' + '( ' + nameGlue + ' + ' + B + ' )' + ' + ' + C + ']' + ' + ' + D }}
                    </ng-container>
                    <!-- end exist B,C,D -->
                    <ng-template #elseTemplate>
                      <!-- exist B,C -->
                      <ng-container *ngIf=" B && C; else elseTemplate">
                        {{ '( ' + nameGlue + ' + ' + B + ' )' + ' + ' + C }}
                      </ng-container>
                      <!-- end exist B,C -->
                      <ng-template #elseTemplate>
                        <!-- exist B -->
                        <ng-container *ngIf="B; else elseTemplate">
                          {{nameGlue + ' + ' + B }}
                        </ng-container>
                        <!-- end exist B -->
                        <ng-template #elseTemplate>
                          <!-- exist A -->
                          {{nameGlue}}
                        </ng-template>

                      </ng-template>
                    </ng-template>

                </ng-template>
              <ul>
                <li style="list-style-type:decimal" *ngFor="let item of detailIngredient; let i=index">
                  <a>
                    {{item.ingredientName}} <span class="font-weight-bold text-danger">({{item.percentage}}%)</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="row">
            <div class="col-lg-12 col-xs-12 col-12" style="text-align: center;">
              <button type="button" (click)="sortBySup(0)" class="btn bg-gradient-secondary btn-sm">
                Default
              </button> 
              <button type="button" *ngFor="let item of supplier" style="margin: 3px" (click)="sortBySup(item.id)" class="btn bg-gradient-success btn-sm">
                <i class="fas fa-parachute-box"></i> {{item.name}}
              </button> 
            </div>   
          </div>       
      </div>

      <div class="row">
        <div class="col-md-6">
            <div *ngIf="detailGlue" class="card-body table-responsive p-0">
                <div class="control-section">
                  <ejs-grid #grid [dataSource]='ingredients1' height='675px' (actionBegin) = "actionBeginIngridient($event)" (toolbarClick)='clickHandlerIngridient($event)' (rowSelected)="rowSelectedIngridient($event)" [editSettings]='editSettings'  [toolbar]='toolbarOptions2'>
                    <e-columns>
                     
                      <e-column field='' isPrimaryKey="true" headerText='Position' width=80 textAlign='Center' >
                        <ng-template #template let-data>
                          <ejs-dropdownlist 
                            id='glueDropdownlist'  
                            #glueDropdownlist 
                            [dataSource]='dataPosition' 
                            [value]='data.position'
                            [fields]='fieldsposition' 
                            [allowFiltering]='true'
                            (change)='onChangeposition($event,data)'
                            >
                          </ejs-dropdownlist>
                        </ng-template>
                      </e-column>
      
                      <e-column field='name' isPrimaryKey="true" headerText='Name' width=150 textAlign='Center' >
                      </e-column>
      
                      <e-column field='percentage' headerText='%' textAlign='Center'  width=70></e-column>
                      <e-column field='allow' headerText='Allow (%)' textAlign='Center'  width=70>
                          <ng-template #headerTemplate let-data>
                              <div>
                                <i class="fas fa-exclamation-circle"></i>
                              </div>
                          </ng-template>
                          <ng-template #template let-data>
                              <span>&#177; {{data.allow}}</span>
                          </ng-template>
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div *ngIf="detailGlue" class="card-body table-responsive p-0">
                <div class="control-section">
                  <ejs-grid #grid [dataSource]='ingredients2' height='675px' (actionBegin) = "actionBeginIngridient($event)" (toolbarClick)='clickHandlerIngridient($event)' (rowSelected)="rowSelectedIngridient($event)" [editSettings]='editSettings'  [toolbar]='toolbarOptions2'>
                    <e-columns>
                     
                      <e-column field='' isPrimaryKey="true" headerText='Position' width=80 textAlign='Center' >
                        <ng-template #template let-data>
                          <ejs-dropdownlist 
                            id='glueDropdownlist'  
                            #glueDropdownlist 
                            [dataSource]='dataPosition' 
                            [value]='data.position'
                            [fields]='fieldsposition' 
                            [allowFiltering]='true'
                            (change)='onChangeposition($event,data)'
                            >
                          </ejs-dropdownlist>
                        </ng-template>
                      </e-column>
      
                      <e-column field='name' isPrimaryKey="true" headerText='Name' width=150 textAlign='Center' >
                      </e-column>
      
                      <e-column field='percentage' headerText='%' textAlign='Center'  width=70></e-column>
                      <e-column field='allow' headerText='Allow (%)' textAlign='Center'  width=70>
                        <ng-template #headerTemplate let-data>
                            <div>
                              <i class="fas fa-exclamation-circle"></i>
                            </div>
                        </ng-template>
                        <ng-template #template let-data>
                            <span>&#177; {{data.allow}}</span>
                        </ng-template>
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #addModalName let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fas fa-plus"></i> Add Model Name
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Model Name</label>
            <span style="color:red">(*)</span>
            <input [(ngModel)]="modalname.name" name="name" type="text"  class="form-control Name" />
          </div>
        </div>  
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Model No</label>
            <span style="color:red">(*)</span>
            <input [(ngModel)]="modalname.modelNo" name="name" type="text"  class="form-control Name" />
          </div>
        </div>   
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Art No</label>
            <span style="color:red">(*)</span>
            <input [(ngModel)]="modalname.artNo" name="name" type="text"  class="form-control Name" />
          </div>
        </div>              
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="submit" (click)="save()" class="btn btn-primary">Save changes</button>
    </div>
  </ng-template>

</div>