<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Guidance</strong></div>
      <div class="card-body">
        <div class="row">
          <!-- <div class="col-md-4">
            <div class="form-group"  >
              <ejs-dropdownlist id='ddlelement' (change)='changeModalNo($event)' #samples [dataSource]='dataModalNo' [fields]='fields2' [placeholder]='textNo'></ejs-dropdownlist>
            </div>
          </div> -->
          <div class="col-md-3">
            <div class="form-group"  >
              <label for="">Line</label>
              <input type="text" value="I1" class="form-control">
            </div>
          </div>
          <div class="col-md-4">   
            <div class="form-group">
              <label for="">Search or tag Model name</label>
              <ejs-dropdownlist id='ddlelement' #ddlelement (change)='changeModalName($event)' [dataSource]='dataModalName' [fields]='fields2' [placeholder]='textName'></ejs-dropdownlist>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group"  >
              <label for="">Search or tag glue name, code</label>
              <ejs-dropdownlist 
                id='glueDropdownlist' 
                (change)='changeModalNo($event)' 
                #glueDropdownlist 
                [dataSource]='glues' 
                [fields]='fieldsGlue' 
                (filtering)='onFiltering($event)'
                [allowFiltering]='true'
                (change)='onChangeGlues($event)'
                [placeholder]='textGlue'>
              </ejs-dropdownlist>
            </div>
          </div> -->

          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="">Scanner Barcode</label>
              <input class="form-control " id="glueInput" #glueInput placeholder="Scanner Barcode Glue" (change)='onChangeInput($event)' type="text"/>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="" class="">Option</label>
              <button type="button" id="btnClear"  (click)="glueInput.value = '';show= false" #btn class="btn btn-warning">Reset</button>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div *ngIf="existGlue" class="card-body table-responsive">  
              <div class="control-section" >
                <ejs-grid #gridglue [dataSource]='gluess'   height='600px' (actionBegin) = "actionBegin($event)" (toolbarClick)='clickHandler($event)' (rowSelected)="rowSelected($event)"  [editSettings]='editSettings' [toolbar]='toolbar' >
                  <e-columns>
                    <e-column field='name' headerText='Glue' textAlign='Center' width='150'></e-column>
                    <e-column field='modelNo' headerText='Part 1' textAlign='Center' width='150'>
                        
                    </e-column>
                    <e-column field='pathName' headerText='Part 2' textAlign='Center' width='150'>
                    
                    </e-column>
                    <e-column field='materialName' headerText='Material' textAlign='Center' width='150'>
                     
                    </e-column>
                    <e-column field='consumption'  headerText='Consumption' textAlign='Center' width='150'></e-column>
                    <e-column field='consumption'  headerText='Make Glue' textAlign='Center' width='150'>
                      <ng-template #template let-data>
                        <button type="button" (click)="mixGlue(data)" class="btn bg-gradient-success btn-sm">
                          <!-- <i class="fas fa-parachute-box"></i>  -->
                          Make Glue
                        </button> 
                      </ng-template>
                      
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
          </div>
        </div>
        <div class="row" *ngIf="show" >
          <div class="col-md-4">
            <h3 class="text-center text-danger" *ngIf="weight">Glue Name: {{makeGlue.name}} </h3>
          </div>
          <div class="col-md-4">
            <h3 class="text-center text-danger" *ngIf="weight">Glue Code: {{makeGlue.code}} </h3>
          </div>
          <div class="col-md-4">
            <h3 class="text-center text-danger" *ngIf="weight">Amount: {{weight}} (Gram) </h3>
          </div>
        </div>
        <div class="row" *ngIf="show" >
          <div class="col-md-4">
            <div class="chart-wrapper" >
              <canvas baseChart class="chart" 
                [data]="pieChartData" 
                [labels]="pieChartLabels"
                [chartType]="pieChartType" 
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                ></canvas>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold" for="">Ingredient Name</label>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold" for="">Percentage</label>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold" for="">Input</label>
              </div>
            </div>
            <ng-container *ngFor="let item of ingredients ;let i=index">
              <div class="row">
                <div class="form-group col-sm-6">
                  <input class="form-control" [value]="item.name" type="text">
                </div>
                <div class="form-group col-sm-3">
                  <input class="form-control" [value]="item.percentage + '%'" type="text">
                </div>
                <div class="form-group col-sm-3">
                  <input class="form-control" (change)='onChange($event, item)'
                    [value]='suggestion(item,i)' type="text">
                </div>
              </div>
            </ng-container>
            
            <div class="text-center">
                <button type="button" (click)="Finish()" class="btn btn-success"><i class="fas fa-save"></i> Finish</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>