<div class="row">
  <ngx-spinner type="la-ball-spin-clockwise" size="large">
    <div style="color: #63c5ab" class="la-ball-spin-clockwise">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ngx-spinner>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-project-diagram"></i> Organization Chart
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <ejs-treegrid #treegrid [dataSource]="ocs" [treeColumnIndex]='1' allowPaging='true' allowSorting='true'
          gridLines='Both' [toolbar]='toolbarOptions' childMapping="children" (rowSelected)="rowSelected($event)">
          <e-columns>
            <e-column field="levelnumber" width="80" textAlign="Center" headerText="Level"></e-column>
            <e-column field="title" headerText="OC Name"></e-column>
          </e-columns>
        </ejs-treegrid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> Routine Task</h3>
      </div>
      <div [class]="!showTasks?'': 'd-none'">
        <p class="text-danger text-center">* Note: Please click on a department to display list routine task</p>
      </div>
      <!-- /.card-header -->
      <div [class]="showTasks?'card-body table-responsive p-0':'d-none'">
        <ejs-treegrid #treegridTasks [dataSource]='tasks' childMapping='children' [treeColumnIndex]='2'
          [pageSettings]='pageSetting' [filterSettings]='filterSettings' [contextMenuItems]='contextMenuItems'
          [toolbar]='toolbarOptionsTasks' allowPaging='true' [allowExcelExport]='true' [allowPdfExport]='true'
          gridLines='Both' [allowResizing]='true' showColumnMenu='true' allowSorting='true' allowFiltering='true'
          (toolbarClick)='toolbarClick($event)' [searchSettings]='searchSettings' (contextMenuClick)="contextMenuClick($event)"  (recordDoubleClick)="recordDoubleClick($event)"
          (contextMenuOpen)='contextMenuOpen($event)'>
          <e-columns>
            <e-column field="Follow" headerText="Follow" width="130" textAlign="Center">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)="follow(data.ID)"
                    [class]="data.Follow == 'No' ? 'btn btn-success btn-xs':'btn btn-danger btn-xs'"
                    ng-if="data.Level == 1"><i [class]="data.Follow == 'No'  ? 'fas fa-bell':'fas fa-bell-slash'"></i>
                    {{data.Follow == 'No' ?'Follow':'Unfollow'}}</button>
                </div>
              </ng-template>
            </e-column>
            <e-column field="Priority" headerText="Priority" width="110" textAlign="Center">
              <ng-template #template let-data>
                <span id="priority"
                  [class]="data.Priority == 'High' ? 'badge bg-danger' : data.Priority =='Medium' ? 'badge bg-warning' : 'badge bg-info'"
                  style="padding:4px;color:white">{{data.Priority}}</span>
              </ng-template>
            </e-column>
            <e-column field="JobName" headerText="Task Name" clipMode='EllipsisWithTooltip' textAlign="Center"
              width="240"></e-column>
            <e-column field="From" headerText="From" width="120"></e-column>
            <e-column field="PIC" headerText="PIC" width="180" format="yMd" textAlign="Center"></e-column>
            <e-column field="state" headerText="Status" width="120" textAlign="Center">
              <ng-template #template let-data>
                <span id="priority" [class]="data.state == 'Undone' ? 'badge bg-danger' : 'badge bg-success'"
                  style="padding:4px;color:white">{{data.state}}</span>
              </ng-template>
            </e-column>
            <e-column field="CreatedDateForEachTask" headerText="Created Date" width="200" textAlign="Center">
            </e-column>
            <e-column field="DueDateDaily" headerText="Daily" width="160" textAlign="Center"></e-column>
            <e-column field="DueDateWeekly" headerText="Weekly" width="160" textAlign="Center"></e-column>
            <e-column field="DueDateMonthly" headerText="Monthly" width="160" textAlign="Center"></e-column>
            <e-column field="DueDateQuarterly" headerText="Quarterly" width="160" textAlign="Center"></e-column>
            <e-column field="DueDateYearly" headerText="Yearly" width="160" textAlign="Center"></e-column>
            <e-column field="WatchVideo" [disableHtmlEncode]="false" headerText="Watch Video" width="200" textAlign="Center">
              <ng-template #template let-data>
                <button [class]="data.VideoStatus? 'btn btn-sm btn-success' : 'd-none'" (click)="openWatchTutorialWatchModalByButton(data)">Watch</button>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-treegrid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>