<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="name">Name</label> <small *ngIf="action === 'Add'" class="text-danger text-small text-small"> *Require</small>
        <input type="text" id='Name' [(ngModel)]="role.Name" class="form-control">
      </div>
    </div>
  </div>

</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>