<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group d-none">
    <label for="">ID</label>
    <input [(ngModel)]="ingredient.id" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" [(ngModel)]="ingredient.name" (blur)="onBlur($event)" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Choose Supplier</label>
      <ejs-dropdownlist 
        id='glueDropdownlist'  
        #glueDropdownlist 
        [dataSource]='supplier' 
        [fields]='fieldsGlue' 
        [allowFiltering]='true'
        (change)='onChangeSup($event)'
        [placeholder]='textGlue'>
      </ejs-dropdownlist>
  </div>
  <div class="form-group d-none">
    <label for="">Code</label>
    <input type="text" class="form-control">
  </div>
  <ejs-barcodegenerator *ngIf="showBarCode" style="display: block;" #barcode id="barcode" width="300px" height="100px" mode="SVG"
  type="Code32" [value]="ingredient.code"></ejs-barcodegenerator> 
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>