  <div class="col-md-12 col-xs-12 col-12">
    <h5 class="text-primary">Sort By:</h5>
  </div>
  <div class="col-lg-6 col-xs-12 col-12 pb-4">
    <button type="button" (click)="sortHigh()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-exclamation"></i> High
    </button>
    <button type="button" (click)="sortMedium()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fab fa-medium"></i> Medium
    </button>
    <button type="button" (click)="sortLow()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-low-vision"></i> Low
    </button>
    <button type="button" (click)="all()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-sync-alt"></i> All
    </button>
    <button [routerLink]="['/chat-group']" routerLinkActive="router-link-active"  class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fa fa-comment-dots"></i> Chat Room
    </button>
    <button (click)='pushToTutorial()' class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fa fa-video"></i> Tutorial Video
    </button>
  </div>
<div class="col-md-12">
  <div class="control-section">
    <ejs-treegrid #treegrid [dataSource]='data' 
    childMapping='children' 
    [treeColumnIndex]='2' 
    [pageSettings]='pageSetting' 
    [filterSettings]='filterSettings'
    [contextMenuItems]='contextMenuItems'
    [toolbar]='toolbarOptions'
    allowPaging='true'
    [allowExcelExport]='true'
    [allowPdfExport]='true'
    gridLines='Both'
    [allowResizing]='true'
    showColumnMenu='true'
    allowSorting='true'
    allowFiltering='true' 
    [editSettings]='editSettings'
    (toolbarClick)='toolbarClick($event)'
    (created)='create()'
    (contextMenuClick)="contextMenuClick($event)"
    (recordDoubleClick)="recordDoubleClick($event)"
    >
        <e-columns>
            <e-column
            field="Follow"
            headerText="Follow"
            width="130"
            textAlign="Center"
          >
          <ng-template #template let-data>
            <div class="btn-group">
                <button type="button" [class]="data.Follow == 'No' ? 'btn btn-success btn-xs':'btn btn-danger btn-xs'" ng-if="data.Level == 1" ><i [class]="data.Follow == 'No'  ? 'fas fa-bell':'fas fa-bell-slash'"></i> {{data.Follow == 'No' ?'Follow':'Unfollow'}}</button>
            </div>
          </ng-template>
        </e-column>
          <e-column
            field="Priority"
            headerText="Priority"
            width="110"
            textAlign="Center"
          >
          <ng-template #template let-data>
            <span id="priority" [class]="data.Priority == 'High' ? 'badge bg-danger' : data.Priority =='Medium' ? 'badge bg-warning' : 'badge bg-info'"  style="padding:4px;color:white">{{data.Priority}}</span>
          </ng-template>
        </e-column>
          <e-column
            field="JobName"
            headerText="Task Name"
            clipMode='EllipsisWithTooltip'
            textAlign="Center"
            width="240"
          ></e-column>
          <e-column field="From" headerText="From"  width="120"></e-column>
          <e-column
            field="PIC"
            headerText="PIC"
            width="180"
            format="yMd"
            textAlign="Center"
          ></e-column>
          <e-column
            field="state"
            headerText="Status"
            width="120"
            textAlign="Center"
          >
          <ng-template #template let-data>
            <span id="priority" [class]="data.state == 'Undone' ? 'badge bg-danger' : 'badge bg-success'"  style="padding:4px;color:white">{{data.state}}</span>
          </ng-template>
        </e-column>
          <e-column
            field="SpecificDate"
            headerText="Due Date"
            width="200"
            textAlign="Center"
          ></e-column>
          <e-column
            field="CreatedDateForEachTask"
            headerText="Created Date"
            width="200"
            textAlign="Center"
          ></e-column>
          <e-column
            field="DueDateDaily"
            headerText="Daily"
            width="160"
            textAlign="Center"
          ></e-column>
          <e-column
            field="DueDateWeekly"
            headerText="Weekly"
            width="160"
            textAlign="Center"
          ></e-column>
          <e-column
            field="DueDateYearly"
            headerText="Yearly"
            width="160"
            textAlign="Center"
          ></e-column> 
        </e-columns>
    </ejs-treegrid>
</div>
</div>

<ng-template #addSubTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
     
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Name</label>
          <!-- <ejs-multiselect [dataSource]='usersData' [(ngModel)]='managerSelected' (change)="changeManager($event)" [mode]='default' [value]='managerSelected' (filtering)='onFiltering($event)' [allowFiltering]='true'  [fields]='fields' [placeholder]='waterMark'></ejs-multiselect> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Close
    </button>
    <button type="button"  class="btn btn-outline-dark">
      Save
    </button>
  </div>
</ng-template>
<ng-template #commentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Name</label>
          <!-- <ejs-multiselect [dataSource]='usersData' [(ngModel)]='managerSelected' (change)="changeManager($event)" [mode]='default' [value]='managerSelected' (filtering)='onFiltering($event)' [allowFiltering]='true'  [fields]='fields' [placeholder]='waterMark'></ejs-multiselect> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Close
    </button>
    <button type="button"  class="btn btn-outline-dark">
      Save
    </button>
  </div>
</ng-template>